* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    background-color: #202C36;
}
.header {
    background-color: #2B3844;
    height: 80px;
}
.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 33px;
}
.container {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

.header_nav_logo_title {
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 2px;
}
.header_nav_logo_menu_btn {
    background-color: inherit;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
}
.main_section {
    padding-top: 48px;
}
.main_section_search {
    background-color: #2B3844;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 74px;
    padding-right: 270px;
    border: none;
}
.main_flags {
    display: flex;
    padding-top: 48px;
    color: white;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.main_flag_1 {
    background-color: #2B3844;
    width: 350px;
    height: 300px;
}
.main_flag_title {
    text-align: center;
    margin-top: 20px;
}
.main_flag_2 {
    background-color: #2B3844;
    width: 350px;
    height: 300px;
}   
.main_flag_3 {
    background-color: #2B3844;
    width: 350px;
    height: 300px;
}   
.main_flag_4 {
    background-color: #2B3844;
    width: 350px;
    height: 300px;
}   
.main_flag_5 {
    background-color: #2B3844;
    width: 350px;
    height: 300px;
}   
.main_flag_6 {
    background-color: #2B3844;
    width: 350px;
    height: 300px;
}   
.main_flag_7 {
    background-color: #2B3844;
    width: 350px;
    height: 300px;
}
.main_flag_8 {
    background-color: #2B3844;
    width: 350px;
    height: 300px;
}   
@media (max-width : 1240px) {
    .main_flags{
        gap: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main_section_search {
        padding-top: 18px;
        padding-bottom: 18px;
        width: 100%;
    }
    }
@media (max-width : 768px) {
    .main_flags {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}